.header {
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: left;
    background-color: #ffffff;
    font-size: 20px;
    padding-bottom: 15px;
    box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.1);    
    color: rgb(0, 0, 0);
    margin-bottom: 50px;
    justify-content: center;
  }
  
  .logo
  {
      font-weight: 500;
    margin: 15px;
    margin-left: 5%;
    margin-right: 5%;
    width: 100px;
      color: black;
  }

  #head{
      color: #6b9838;
      font-size: 20px;
      font-weight: 200;
      margin: 15px;
      
  }

  #icon{
      margin: 15px;
  }
